// @import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Astloch:wght@400;700&family=Libre+Barcode+39');

.topNav {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    display: flex;
    flex-direction: column;
    z-index: 1001;
    align-items: center;

    // span {
    //     writing-mode: vertical-rl;
    //     text-orientation: upright;
    //     text-transform: uppercase;
    //     margin: 1rem 0rem 0rem;
    //     font-size: 1.75rem;
    //     // font-weight: 700;
    //     // font-family: 'Astloch', cursive;
    //     // font-family: 'UnifrakturMaguntia', 'Libre Barcode 39', sans-serif;
    //     font-family: 'Libre Barcode 39', sans-serif;
    //     // font-family: 'Rubik Beastly', cursive;        
    //     // color: #f17405;
    //     // color: orange;
    //     color: white;
    // }

    .nameContainer {
        position: relative;
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;

        .nameWrapper {
            position: absolute;
            // writing-mode: vertical-rl;
            // text-orientation: upright;
            text-transform: uppercase;
            font-size: 3rem;
            font-family: 'Libre Barcode 39';
            color: white;

            &.cursive {
                font-family: 'Astloch';
                font-size: 1.5rem;
                color: #212121;
                font-weight: 700;
            }

            &.cursive.cursiveAccent {
                font-weight: 400;
                font-size: 1.4rem;
                color: #f77369;
            }
            
            div {
                height: 1.5rem;
                margin: .75rem 0rem 0rem;

                &.space {
                    height: .75rem;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .topNav {
        top: 1rem;
        left: 1rem;
    }
}
