// @import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&family=Wallpoet&display=swap');

.topNav {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    display: flex;
    flex-direction: column;
    z-index: 1001;
    align-items: center;

    span {
        writing-mode: vertical-rl;
        text-orientation: upright;
        text-transform: uppercase;
        margin: 1rem 0rem 0rem;
        font-size: 1.5rem;
        font-family: 'Libre Barcode 39', sans-serif;
    }
}

@media screen and (min-width: 768px) {
    .topNav {
        top: 1rem;
        left: 1rem;
    }
}
