.main {
    width: 100vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
}

.bandcampChip {
    width: 100%;
    bottom: 0;
    padding: 0.5rem;
}

@media screen and (min-width: 768px) {
    .bandcampChip {
        width: 33%;
        padding: 1rem;
    }
}