.main {
    width: 100vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.musicSocialTray {
    width: 100%;
    bottom: 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    left: 0;
    z-index: 1001;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.musicSocialTray > .bandcampChip {
    max-width: 700px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .musicSocialTray {
        padding: 1rem;
        flex-direction: row;
        align-items: center;
    }

    .musicSocialTray > .bandcampChip {
        max-width: 625px;
    }
}